*{
  font-family: "Comfortaa", sans-serif;
  
}

.main-right{
    position : fixed;
    width:50vw;
    height:50%;
    background-color: #0000003b;
    z-index: 2;
    transform : translateX(400%);
    transition : .5s ease-in-out;
}

.cart-modal{
   
    height: 100vh;
    width: 100%;
    background-color: #eeeaea;
    float: right;
    overflow: scroll;
    overflow-x:hidden;
    padding: 3%;    
}

#close-button{
    font-size: 1rem;
    float: top-right;
    margin : 1em 2em 0 0;
    color:#5358a2;
    cursor: pointer;
}

.mycart{
  margin: 1%;
  padding: 2%;
  font-size: 1.5em;
}

i{
    font-size: 1rem;
    float: right;
    margin : 0.5em 2em 0 0;
    color:#5358a2;
    cursor: pointer;
}


.cart-image {
    width: 5rem;
    margin: 1em;
  }
  
  .cart-price {
    color: #5358a2;
    font-size: 1.05rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 2.2rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
  }
  
  .remove-button {
    padding: 0.7em 1.4em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
    /* font-weight: bolder; */
    font-size: 0.9rem;
  }

  .checkout{
    width: 50%;
    font-size:1.2rem;
    padding: 1rem;
    margin:3%;
    /* border : 1px solid #5358a2; */
    border-radius: 20px;
    background-color: #eeeaea;
    border:none;
    color: #5358a2;
    text-align: center;
    align-self: flex-end;
    margin-top: 3%;
    margin-left:2%;
}

.checkout:hover{
    background-color: #e9615f;
    color:#eeeaea;
    font-weight: bold;
    border:1px solid #e9615f;
}

