/* .main-right{
  display: none;
} */

.main-right{
    position : fixed;
    visibility: hidden;
    width:50vw;
    top: 5rem;
    right:0;
    background-color: #eeeaea;
    border : 1px solid #5358a2;
    z-index: 2;
}

.show{
  visibility: visible;
}

.cart-modal{
   
    height: 75vh;
    width: 100%;
    background-color: #eeeaea;
    float: right;
    overflow: scroll;
    overflow-x:hidden;
    padding: 3%;  
}

#close-button{
    font-size: 1rem;
    float: top-right;
    margin : 1em 2em 0 0;
    color:#5358a2;
    cursor: pointer;
}

.mycart{
  margin: 1%;
  padding: 2%;
  font-size: 1.3em;
  border-bottom: 3px solid #5358a2;
}

i{
    font-size: .1rem;
    float: right;
    margin : 0.5em 2em 0 0;
    color:#5358a2;
    cursor: pointer;
}


.cart-image {
    width: 5rem;
    margin: 1em;
  }
  
  .cart-price {
    color: #5358a2;
    font-size: 1.05rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 2.7rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-left: 1rem;
  }
  
  .remove-button {
    padding: 0.7em 1.2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    /* font-weight: bolder; */
    font-size: 0.9rem;
  }

  .checkout {
    margin: 5rem auto;
  }

  .checkout{
    width: 80%; 
    padding: 1.5rem 0;
    font-size:1.15rem;
    border : 1.3px solid #5358a2;
    border-radius: 1rem;    
    color: #5358a2;
    text-align: center;
    font-weight: bold;
}

.checkout a{
  text-decoration: none; 
}

.checkout:hover, .checkout a:hover{
    background-color: #e9615f;   
    border:1px solid #e9615f;
    color: #eeeaea;  
}

/* .checkout a:hover{
  color: #eeeaea;  
} */

@media screen and (max-width: 600px) {

  .main-right{
    width:90vw;
  }

}