

.step-menu:hover{
    color: #e9615f;
    font-weight: bold;
} 

.all-menu{
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-menu-croffle, .all-menu-eggwaffle, .all-menu-drink{
    width:98%;
    padding: 0.5%;
    margin: 0.5%;
    color:#5358a2;
    font-size: 1.5em;
    font-weight: bold;
    align-self: left;
    margin-left: 5px;

}

.list{
    box-sizing: border-box;
    width: 45%;
    
    margin: 10px;
    border: 1px solid #5358a2;
    border-radius: 15px;
    /* border-left:none;
    border-right:none; */
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.menu-text{
    box-sizing: border-box;
    width: 60%;
    padding : 5px 0 0 10px;
    font-size: 0.95rem;
}
/* .menu-picture{
    box-sizing: border-box;
    width: 35%;
    margin-left: 10px;
    background-color:#eeeaea;
    border: 1px solid #5358a2;
    position: relative;
    overflow: hidden;

} */
.picture{
    width: 35% !important;
    /* height: auto; */
    object-fit: cover;
    margin-left: 10px;
    /* border: 1px solid #5358a2; */

}

.name{
    font-weight :bold;
}

.empty{
    width: 100%;
    height: 50px;
    border: none;

}

.list:hover .add{
    transform: translateX(0);
}

.add{
    width: 40px;
    padding: 2.5px;
    font-size: 101%;
    /* right:0; */
    background-color:#e9615f;
    color:#eeeaea;
    position: absolute;
    transform: translateX(50px);
    top: 82%;
    right: 0;
    transition : 0.5s ease; 
    outline: none;
    border: none;
    cursor: pointer;
    /* align-self: right; */
}

@media screen and (max-width: 500px) {

    .all-menu{
        box-sizing: border-box;
        width: 95%;
        display: block;
        justify-content: center;
    }
    
    .list{
        width: 90%;
    }
}