
.information{
    width:98%;
    color:#5358a2;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5px;
}

form{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

input {
    padding: .3rem;
    margin: .5rem;
    font-size: .9rem;
    border: none;
    border-bottom: 1px solid #5358a2;
}

.detailed-a {
    width: 65%;
    
}
.detailed-b {
    width: 37%;
}

.your-order{
    width: 90%;
    margin-top: 1rem;
}

.price-total{
    width: 90%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.your-price, .tips{
    width: 50%;
}

.cart-image {
    width: 5rem;
    margin: 1em;
  }
  
.cart-price {
    color: #5358a2;
    font-size: 1.05rem;
    font-weight: bolder;
  }
  
.tip{
    padding: .5rem .7rem;
    background-color: #5358a2;
    color: white;
    border: none;
    border-radius : .4rem;
}

.tip:hover{
    background-color: #e9615f;
    cursor: pointer;
}

@media screen and  (max-width: 600px) {

    .tips{
        display: flex;
        flex-wrap: wrap;
    }
}