.menu{
    box-sizing: border-box;
    width: 95%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
}


.list{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width : 40%;    
    margin: 2%;
    border: 1px solid #22cce2;

    overflow:hidden;
    position: relative;

}

.menu-text{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #0e7886;
    padding: 2%;
}

.menu-text .name{
    font-size: 1.3em;

}

.picture{
    width: 40%;
    
    
    
}
.list:hover .add{
    transform: translateX(0);
}

.add{
    background-color: #0e7886;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 65%;
    padding: 0.5rem 1em;
    transform: translateX(55px);
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
}





.product-price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .cart-modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    transform: translateX(-200%);
    transition: .5s ease-out;
    
  }
  
  .cart-modal {
    height: 100vh;
    width: 50%;
    background-color: rgb(50,50,50);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
  }
  
  .total-price {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  
  .product-rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 10rem;
    margin: 1em;
  }
  
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 4rem;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .remove-btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  